
.navbar-toggler{
    color:white;
}

.navbar{
    height:40px;
    background-color: #EECE00;
}

.nav-link{
    color:black;
    font-size:25px;
    font-weight: 700;
}

.dropdown-toggle::after {
    content: none;
}

.fa-ticket, .fa-user-circle, .fa-home{
    font-size: 33px;
    color:black;
    margin-left:5px;
    margin-right:5px;
    text-decoration: none;
}

.fa-user-circle:hover, .fa-user-circle:active, .fa-ticket:hover, .fa-ticket:active, .fa-home:hover, .fa-home:active{
    color:#616161;
}