{% extends "newbase.html" %}

{% block title %} Login | FRSTP {% endblock %}

{% block content %}

<div class="card mx-auto">
    <h1>登入</h1>
    <form name="login_form">
        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>
        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Log in" class="btn btn-primary">
        <br>
        <hr class="custom-line"></br>

    </form>
    <button href="/user/register" class="btn btn-secondary"> Create an account </button>
</div>

{% endblock %}